span{
  margin: 5px;
}
.bor{
  border: 3px solid gray;
  margin: 20px;
  width:fit-content
}
.allBor{
  display: inline-flex;
}
.form{
  width:40%;
  margin-left: auto;
  margin-right: auto;
}
.form-control:focus{
  border: #cfd1d1;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(53, 22, 22, 0.6);
}
.center {
text-align: center;

}
li{
  text-align: start !important;
}
.line{
  display: inline;
}
.btndel{
  color: #161415;
  background-color: #fdeaea;
  border: 1px solid #cfd1d1;
  margin-top: 5px;
}
.link{
  margin-left: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
